<html>
  <head>
    <style></style>
  </head>
  <body>
    <form>
      <label>String: </label>
      <input type='text' name='string' />
      </br>
      <label>Shift: </label>
      <input id="shift" type='text' name='shift' />
      </br>
      <input type='submit' value='Encode!' />
      </br>
      <%= message %>
    </form>
  </body>
</html>